* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(to bottom, #04290c, #7bff8a);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0px 8px 20px rgb(40, 117, 9);
  width: 360px;
  text-align: center;
}


.logo {
  width: 60px;
  height: auto;
  margin: 0 auto 20px;
  display: block;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 8px;
  font-weight: bold;
}

.subtitle {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 0.95rem;
  outline: none;
}

.input-group input:focus {
  border-color: #888;
}

.toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1rem;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.remember-me {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  color: #444;
}

.forgot {
  font-size: 0.95rem;
  color: #6c63ff;
  text-decoration: none;
  transition: color 0.2s;
}

.forgot:hover {
  color: #4834d4;
  text-decoration: underline;
}

.btn {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}


.btn:hover {
  background: #333;
}

.signup-text {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.signup-btn {
  margin-top: 10px;
  background-color: #0f9d58; /* green theme */
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s ease;
}

.signup-btn:hover {
  background-color: #0b7a45; /* darker green on hover */
}

a {
  color :white;
  text-decoration: none;
}

a :visited {
  color :white;
}




